extends layout

block content

  title Books

    link(rel='stylesheet', href='stylesheets/style.css')
  nav
    ul
      li
        a(href='all_books') Books

      li
        a(href='all_patrons') Patrons

      li
        a(href='all_loans') Loans
  h1 Books

      p
        a.button(href='new_book') Create New Book

      p
         Filters
        a(href='all_books') All

        a(href='overdue_books') Overdue

        a(href='checked_books') Checked Out

      table
        thead
          tr
            th Title

            th Author

            th Genre

            th Year Released

        tbody
          each book in books
            tr
              td
                a(href='book_detail') Harry Potter and the Philosopher&apos;s Stone

              td book.author

              td book.genre

              td book.first_published
